body{
    font-family: 'Dosis', sans-serif;
}

.login-desing{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
    overflow: hidden;
}

.waves{
    background-image: url("/aseets/wave.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-data{
    /*border: solid; para ver el borde*/
    text-align: center;
    width: 65%;
}

.login-data h1{
    font-weight: 200;
}

.input-group{
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.input-fill input{
    border: none;
    border-bottom: 3px solid #848f9a;
    width: 100%;
    height: 2rem;
    font-size: 1.0625rem;
    padding-left: 2rem;
    line-height: 147.6%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.input-fill input:focus{
    outline: none;
    border-color: #8316C7;
}

.input-fill input:hover{
    background-color: #e9ecef;
}

/*efecto letras se mueven*/
.input-fill input:focus + .input-label{
    top: 0;
    margin-bottom: 2rem;
    color: #8316C7;
}

.input-fill input:focus ~ i{
    color: #8316C7;
}

.input-fill .input-label{
    position: absolute;
    top: 15px;
    left: 26px;
    line-height: 147.6%;
    color: #848f9a;
    transition: top .2s;
    font-weight: 700;
}

.input-fill i{
    position: absolute;
    top: 19px;
    left: 0;
    color: #848f9a;
    font-size: 1.5rem;
}

.login-form a{
    display: block;
    width: 85%;
    text-align: right;
    text-decoration: none;
    color: #848f9a;
    margin-bottom: 1.3rem;
    font-weight: 800;
    transition: .3s ease-in-out all;
    font-size: 18px;
}

.login-form a:hover{
    color: #8316C7;
}

.btn-login{
    border-radius: 3rem;
    width: 45%;
    border: 1px solid #8316C7;
    line-height: 1.6rem; /*para q cresca de tamaño*/
    font-size: 1.3rem;
    background-color: #8316C7;
    color: #ffffff;
    padding: 0.5rem 0;
    transition: .3s ease-in-out all;
    font-weight: 500;
}

.btn-login:hover{
    cursor: pointer;
    background-color: #492687;
    border-color: #492687;
}
